.selectedPokemon {
    width: 40%;
    text-align: center;
    margin-left: 7%;
    background-color: rgb(80, 255, 112);
}

.noPokemon {
    width: 40%;
    text-align: center;
    margin-left: 7%;
    background-color: rgb(255, 80, 109);
}